a:visited {
    color:white;
}
a:link 
{
    color:white;
}
#menu-bar
{
    
padding-top: 10px;

display: flex;
flex-direction: column;
justify-content: space-around;


width: 190px;
}
h3:hover{

    background-color:rgba(51, 47, 46,0.7);
   
}
li:hover{
    text-color: lightgreen;
text-decoration: none;
}